<!doctype html>
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prätkä-parkit</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Prätkä-parkit</h1>
      <nav>
        <a href="{{ url_for('index') }}">Koti</a>
        <a href="{{ url_for('search') }}">Haku</a>
        {% if session.user_id %}
        <a href="{{ url_for('user_profile', user_id=session.user_id) }}"
          >Profiili</a
        >
        <a href="{{ url_for('create_spot') }}">Lisää parkki</a>
        <form
          action="{{ url_for('logout') }}"
          method="POST"
          style="display: inline"
        >
          <input
            type="hidden"
            name="csrf_token"
            value="{{ session.csrf_token }}"
          />
          <button
            type="submit"
            style="
              background: none;
              border: none;
              color: #ccc;
              text-decoration: none;
              cursor: pointer;
              padding: 0;
              font-size: inherit;
              display: inline;
              padding-top: 1px;
            "
          >
            Kirjaudu ulos ({{ session.username }})
          </button>
        </form>
        {% else %}
        <a href="{{ url_for('login') }}">Kirjaudu sisään</a>
        <a href="{{ url_for('register') }}">Rekisteröidy</a>
        {% endif %}
      </nav>
    </header>
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div class="flash {{ category }}">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock %}
    </div>
  </body>
</html>
